---
---
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Katja Glass Consulting - Contact Details">
<meta name="author" content="Katja Glass">

<title>Contact Details - Katja Glass Consulting</title>

{% include head.html %}

<body>
    {% include header.html %}
    <div class="bodycontent">
        <div class="ui vertical segment">
            <div class="ui centered container stackable grid">
                <div class="row">
                    <div class="sixteen wide column" style="text-align: center;">
                        <h1 class="article-h1" id="top">Contact Me</h1>
                        <hr class="article-hr"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="five wide column"><span>If you are interested in my services, please feel free to
                            contact me. You might see me additionally at conferences like some PhUSE SDEs in Europe.</span><br> <br>
                        <p><i aria-hidden="true" class="map marker alternate icon"></i> Berlin, Germany<br><i
                                aria-hidden="true" class="phone icon"></i> +49 30 403633 93<br><i aria-hidden="true"
                                class="envelope icon"></i> <a href="mailto:info@glacon.eu"
                                class="intextlink">info@glacon.eu</a></p>
                    </div>
                    <div class="three wide column"><img src="images/Katja_profil2023.JPG" alt="Katja Glass"></div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>