---
---
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Katja Glass Consulting - Experiences">
<meta name="author" content="Katja Glass">

<title>Experiences from Katja Glass</title>

{% include head.html %}

<body>
    {% include header.html %}

    <div class="bodycontent">
        <div class="ui vertical segment">
            <div class="ui container stackable top aligned grid">
                <div class="row">
                    <div class="three wide column"><img src="./images/Katja_profil2023.JPG" alt="Katja Glass">
                    </div>
                    <div class="eleven wide column">
                        <h1 class="h1smaller">Introduction</h1>
                        Katja is a consultant with over 20 years of experience in the pharmaceutical and life sciences industry, 
                        specializing in SAS, web technologies, ADaM, Define.xml, and TLF generation, and a strong advocate for 
                        open-source collaboration. She spent more than two decades at Bayer and now serves as community manager 
                        for the OpenStudyBuilder open-source project on behalf of Novo Nordisk. Katja also runs glacon.eu/portal, 
                        a platform promoting open-source solutions for pharma, and is a board member of the CDISC Open Source Alliance.
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="eleven wide column">
                        <h1 class="h1smaller">Publications &amp; Presentations</h1>
                        <ul>
                            <li>Open-Source Practicalities and the Legal Side, PHUSE EU Connect 2025 (<a
                                    href="resources/2025-11-19-PHUSE-EU-Paper.pdf"
                                    class="intextlink" target="_blank">paper</a>, <a
                                    href="resources/2025-11-19-PHUSE-EU-Presentation.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>The Life of a Statistical Analyst: Evolving Through Time and Technology, PHUSE SDE Frankfurt 2025 (<a
                                    href="resources/2025-03-13-PHUSE-SDE.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Navigating Open Seas: Exploring Open-Source Technology in Clinical Data Analysis, PHUSE SDE Copenhagen 2024 (<a
                                    href="resources/2024-10-10-PHUSE-SDE.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Revolutionising Clinical Trials: The Impact of OpenStudyBuilder on Automation and Insights, PHUSE SDE Frankfurt 2024 (<a
                                    href="resources/2024-06-27-PHUSE-SDE.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>OpenStudyBuilder - Experimentation Examples - PHUSE SDE Heidelberg 2023
                              (<a
                              href="resources/2023-06-PHUSE-SDE.pdf"
                              class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>OpenStudyBuilder - The Game Changer - PHUSE EMEA Summer SDE 2022
                                (<a
                                href="resources/2022-06-PHUSE-SDE.pdf"
                                class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>CDISC Open Source Alliance (COSA) - An Introduction - CDISC EU Interchange 2022
                                (<a
                                    href="resources/2022-04-COSA.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Proprietary vs. Open-Source - What's More FAIR? - PHUSE EMEA Winter SDE 2021 
                                (<a
                                href="resources/2021-12-PHUSESDE-FAIR.pdf"                                
                                class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Open Source in Pharma - What's Going On? - PHUSE EMEA Winter SDE 2021 
                                (<a
                                href="resources/2021-12-PHUSESDE-OpenSourceNews.pdf"
                                class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Open Source SAS Macros - What? Where? How? - SAS Global Forum 2021 
                                (<a
                                    href="https://communities.sas.com/t5/SAS-Global-Forum-Proceedings/Open-Source-SAS-Macros-What-Where-How/ta-p/726316"
                                    class="intextlink" target="_blank">recording & paper</a>)
                            </li>
                            <li>Continuous Integration for SAS Macros - PhUSE EMEA Spring SDE 2021 
                                (<a
                                    href="resources/2021-05-SDE-CI.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>FAIR for Source Code - PhUSE SDE Basel Aug 2020 
                                (<a
                                    href="resources/2020-09-SDE-Katja.pdf"
                                    class="intextlink" target="_blank">presentation</a>,
                                <a
                                    href="https://www.youtube.com/watch?v=87o_NeCrw4o"
                                    class="intextlink" target="_blank">recording</a>)
                            </li>
                            <li>Clinical Data Science - Going the Open Source Route - PhUSE BitSize Webinar 2020
                                (<a
                                    href="resources/2020-06-PhUSE-SDE-Katja.pdf"
                                    class="intextlink" target="_blank">presentation</a>,
                                <a
                                    href="https://youtu.be/39HS0O0ZnLs"
                                    class="intextlink" target="_blank">recording</a>)
                            </li>
                            <li>Creating and Maintaining Open Source: Why and How? - CDISC Virtual Interchange 2020
                                (<a
                                    href="resources/2020-04-CDISC-KatjaGlass-OpenSource.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Open Source SAS Makros - Was gibt es? Wie nutze ich es? Was sollte ich beachten? - KSFE 2020, Mannheim
                                (<a
                                    href="resources/2020-03-KSFE-Beitrag.pdf" class="intextlink" target="_blank">paper</a>, <a
                                    href="resources/2020-03-KSFE-Vortrag.pdf"
                                    class="intextlink" target="_blank">presentation</a>)
                            </li>
                            <li>Open Source for Pharma - Solutions, Challenges and Visions, PhUSE SDE 2019,
                                Copenhagen (<a
                                    href="resources/2019-06-PHUSE-SDE-OpenSourceInPharma.pdf"
                                    class="intextlink" target="_blank">presentation</a>)</li>
                            <li>Open Source Selection, PhUSE SDE Heidelberg 2019 <a
                                    href="resources/SDE_Poster_OpenSource800.jpg" class="intextlink" target="_blank">(poster)</a>
                            </li>
                            <li>Programminhalte extrahieren und modifizieren mit SAS (German), KSFE 2019, Berlin (<a
                                    href="resources/2019-KSFE-Beitrag.pdf" class="intextlink" target="_blank">paper</a>, <a
                                    href="resources/2019-KSFE-Vortrag-Katja-Glass.pdf"
                                    class="intextlink" target="_blank">presentation</a>)</li>
                            <li>Additional Publications done as employee can be found at <a
                                    href="https://www.linkedin.com/in/katja-glass-369022167/"
                                    class="intextlink" target="_blank">linkedIn</a></li>
                        </ul>

                        <h1 class="h1smaller">Videos</h1>
                        <ul>
                            <li>OpenStudyBuilder Introduction & Demonstration - 2025
                                (<a href="https://youtu.be/7mVddXicmmw" class="intextlink" target="_blank">YouTube, 11 min</a>)
                            </li>
                            <li>Open Source Licenses - Practicalities and the Legal Side - 2024
                                (<a href="https://youtu.be/6CtoH2yZb-I" class="intextlink" target="_blank">YouTube, 27 min</a>)
                            </li>
                            <li>OpenStudyBuilder - Demonstration of Application - 2023
                                (<a href="https://youtu.be/dL5CY0BwfEs" class="intextlink" target="_blank">YouTube, 28 min</a>)
                            </li>
                            <li>
                                FAIR for Source Code - Digging the Gold of Programming - PhUSE Recording (<a
                                    href="https://www.youtube.com/watch?v=87o_NeCrw4o" class="intextlink" target="_blank">YouTube, 28 min</a>)
                            </li>
                            <li>
                                Clinical Data Science - Going the Open Source Route - PhUSE Recording (<a
                                    href="https://youtu.be/39HS0O0ZnLs" class="intextlink" target="_blank">YouTube, 30 min</a>)
                            </li>
                            <li>
                                Open Source Portal for Clinical Study Evaluations - A Quick Glance (<a
                                    href="https://www.youtube.com/watch?v=FD1Xy5utr38" class="intextlink" target="_blank">YouTube, 4 min</a>)
                            </li>
                            <li>
                                Open Source for Pharma - Solutions, Challenges and Visions (<a
                                    href="https://www.youtube.com/watch?v=MwwCnVvViPY" class="intextlink" target="_blank">YouTube, 17 min</a>)
                            </li>
                            <li>
                                Using an Open Source SAS Macro - How to do? (<a
                                    href="https://www.youtube.com/watch?v=48cLKNqVQs4" class="intextlink" target="_blank">YouTube, 33 min</a>)
                            </li>
                            <li>
                                Open Source Collaborations in Clinical Study Evaluations (<a
                                    href="https://www.youtube.com/watch?v=af321V1XkTI" class="intextlink" target="_blank">YouTube, 7 min</a>)
                            </li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <h1 class="h1smaller">Programming</h1><b>SAS MACRO</b>
                        <div class="ui purple small progress miniMargin" data-percent="90">
                            <div class="bar" style="width: 90%;"></div>
                        </div><b>SAS</b>
                        <div class="ui purple small progress miniMargin" data-percent="80">
                            <div class="bar" style="width: 80%;"></div>
                        </div><b>Web Development (JavaScript, React)</b>
                        <div class="ui purple small progress miniMargin" data-percent="50">
                            <div class="bar" style="width: 80%;"></div>
                        </div><b>JAVA</b>
                        <div class="ui purple small progress miniMargin" data-percent="50">
                            <div class="bar" style="width: 40%;"></div>                        
                        </div><b>R / Python</b>
                        <div class="ui purple small progress miniMargin" data-percent="20">
                            <div class="bar" style="width: 40%;"></div>
                        </div><b>Visual Basic</b>
                        <div class="ui purple small progress miniMargin" data-percent="40">
                            <div class="bar" style="width: 30%;"></div>
                        </div>
                        <br/>
                        <h1 class="h1smaller">Tools</h1>
                        <li><b>
                          <a href="https://openstudybuilder.com/" class="intextlink" target="_blank">OpenStudyBuilder</a> (Community Manager)
                        </b></li>
                        <li><b>
                            <a href="https://www.glacon.eu/portal/" class="intextlink" target="_blank">Open Source Portal</a>
                        </b></li>
                        <li><b>
                            <a href="https://github.com/KatjaGlassConsulting/ApprovalBundle" class="intextlink" target="_blank">Kimai Plugin - ApprovalBundle</a>
                        </b></li>
                        <li><b>
                            <a href="https://github.com/KatjaGlassConsulting/TimeKex" class="intextlink" target="_blank">TimeKex: Timetrack - Kimai meets Excel</a>
                        </b></li>
                        <li><b>
                            <a href="https://github.com/KatjaGlassConsulting/reindeer" class="intextlink" target="_blank">Reindeer - Render SAS Results</a>
                        </b></li>
                        <li><b>
                            <a href="https://github.com/KatjaGlassConsulting/SMILE-SmartSASMacros" class="intextlink" target="_blank">SMILE - Smart SAS Macros</a>
                        </b></li>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="eight wide column">
                        <h1 class="h1smaller">Development</h1><b>General</b>
                        <ul>
                            <li>2005 Dual education study of Computer Science - Diplom Ingenieur Informatik (BA)
                            </li>
                            <li>2005 Schering AG - Statistical Standard Coordinator in Global Biostatistics</li>
                            <li>2014 Bayer AG - Clinical Data Process Technology Specialist</li>
                            <li>2019 Katja Glass Consulting - becoming independent (part time)</li>
                            <li>2020 Bayer AG - Expert Statistical Analyst (part time)</li>
                            <li>2021 CDISC COSA Board Member</li>
                            <li>2022 OpenStudyBuilder Community Manager</li>
                        </ul><b>PhUSE</b>
                        <ul>
                            <li>Stream chair/co-chair from 2020</li>
                            <li>EU Connect Chair 2018</li>
                            <li>PhUSE conference co-chair 2017</li>
                            <li>Chair/co-chair of the PhUSE SDE Germany 2012, 2013, 2014, 2015</li>
                            <li>Co-chair of Coding Solution stream 2014, 2015, 2016</li>
                            <li>PhUSE App developer 2013-2017</li>
                        </ul>
                    </div>
                    <div class="eight wide column">
                        <h1 class="h1smaller">Projects as Employee</h1>
                        <ul>
                            <li>Implementation, Documentation, Validation, Training mainly for SAS macros</li>
                            <li>Build up Standard SAS Macro Toolset with close user collaboration</li>
                            <li>Enhance &amp; Maintain Table and Listing creation SAS Macro Framework</li>
                            <li>Integration of Two Table and Listing Frameworks into one</li>
                            <li>Data &amp; Program transfer project (Windows to Unix including new structures)</li>
                            <li>SAS Macro Development coordination for Global Biostatistics</li>
                            <li>SAS Version upgrading for SAS macro frameworks</li>
                            <li>Continuous user focus for processes and tools</li>
                            <li>Meeting app developments similar to PhUSE app which I have created</li>
                            <li>Narrative automation support</li>
                            <li>WebApp for interactive tables and listings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>